*,
html {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: cyan;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: gray;
  height: 10vh;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar li {
  margin: 20px;
  padding: 10px;
  font-weight: 800;
  font-size: 30px;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar li:hover {
  transition: 0.2s ease-in-out;
  border-radius: 10px;
  background-color: cyan;
}

.isi {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.isi a {
  display: contents;
}

.isi img {
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  width: 50%;
}

#divGenerasi {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 2vh;
  color: white;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}

.bawah {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 8vh;
}
